<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>{% block title %}Working Hours{% endblock %}</title>
		<link rel="stylesheet" href="{{ asset('bundles/workinghours/css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/workinghours/css/style.css') }}">
		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
	</head>
	<body>
		<nav class="navbar navbar-default">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Working Hours</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="/categories">Categories</a></li>
					<li><a href="/projects">Projects</a></li>
					<li><a href="/works">Works</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
						<li>
							{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
						</li>
						<li>
							<a href="{{ path('fos_user_security_logout') }}">
								{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
							</a>
						</li>
					{% else %}
						<li><a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a></li>
						<li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
					{% endif %}
				</ul>
			</div>
		</nav>
		
		<div class="container">
			<div class="jumbotron">
				{% for flash_message in app.session.flashbag.get('notice') %}
					<div class="alert alert-success">{{flash_message}}</div>
				{% endfor %}
				{% block body %}
					{% block fos_user_content %}
						{% if error %}
							<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
						{% endif %}

						<form action="{{ path("fos_user_security_check") }}" method="post">
							<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

							<label for="username">{{ 'security.login.username'|trans }}</label>
							<input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

							<label for="password">{{ 'security.login.password'|trans }}</label>
							<input type="password" id="password" name="_password" required="required" />

							<input type="checkbox" id="remember_me" name="_remember_me" value="on" />
							<label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

							<input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
						</form>
					{% endblock fos_user_content %}
				{% endblock %}
			</div>
            <footer>
                    2016 &copy; Ieva Jakšaitytė
            </footer>
		</div>
		
		{% block javascripts %}{% endblock %}
	</body>
</html>
